{% extends "layout.html" %}
{% block content %}

<div class="container py-2">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row py-3">
                <h1 class="display-6 border-bottom border-dark border-3">Account Information</h1>
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">{{ current_user.username }}</dd>

                <dt class="col-sm-3">Email Address</dt>
                <dd class="col-sm-9">{{ current_user.email }}</dd>      
            </div>

            <div class="row py-3">
                <h1 class="display-6 border-bottom border-dark border-3">Add Contact</h1>
                <div class="content-group">
                    <form method="POST" action="">  
                        {{ form.csrf_token }}           
                        <fieldset class="form-group row g-3">
                            <div class="form-group col-md-4">
                                {{ form.firstname.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.firstname.errors %}
                                        {{ form.firstname(class="form-control is-invalid", placeholder='First Name') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.firstname.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.firstname(class="form-control input-lg", placeholder='First Name') }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                {{ form.lastname.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.lastname.errors %}
                                        {{ form.lastname(class="form-control input-lg is-invalid", placeholder='Last Name') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.lastname.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.lastname(class="form-control input-lg", placeholder='Last Name') }}
                                    {% endif %}
                                </div>              
                            </div>

                            <div class="form-group col-md-4">
                                {{ form.phone.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.phone.errors %}
                                        {{ form.phone(class="form-control input-lg is-invalid", placeholder='(XXX) XXX-XXXX') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.phone(class="form-control input-lg", placeholder='(XXX) XXX-XXXX') }}
                                    {% endif %}
                                </div>      
                            </div>            

                            <div class="form-group col-12">
                                {{ form.street1.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.street1.errors %}
                                    {{ form.street1(class="form-control input-lg is-invalid", placeholder='1234 Main St') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.street1.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.street1(class="form-control input-lg", placeholder='1234 Main St') }}
                                    {% endif %}
                                </div>                
                            </div>

                            <div class="form-group col-12">
                                {{ form.street2.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.street2.errors %}
                                    {{ form.street2(class="form-control input-lg is-invalid", placeholder='Apartment, studio, or floor') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.street2.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.street2(class="form-control input-lg", placeholder='Apartment, studio, or floor') }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.city.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.city.errors %}
                                        {{ form.city(class="form-control input-lg is-invalid", placeholder='City/Town') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.city.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.city(class="form-control input-lg", placeholder='City/Town') }}
                                    {% endif %}
                                </div>                
                            </div>

                            <div class="form-group col-md-3">
                                {{ form.state.label(class="form-control-label") }}
                                {% if form.state.errors %}
                                    {{ form.state(class="form-control input-lg is-invalid", placeholder='State') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.state.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.state(class="form-control input-lg", placeholder='State') }}
                                {% endif %}
                            </div>

                            <div class="form-group col-md-3">
                                {{ form.zip.label(class="form-control-label") }}
                                <div class="form-group">
                                    {% if form.zip.errors %}
                                        {{ form.zip(class="form-control input-lg is-invalid", placeholder='Postal/Zip Code') }}
                                        <div class="invalid-feedback">
                                            {% for error in form.zip.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.zip(class="form-control input-lg", placeholder='Postal/Zip Code') }}
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-dark mt-3") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-12 my-3">
            <p class="display-6 text-muted text-center">Phonebook</p>
            <!-- <legend class="border-bottom">Contacts</legend> -->
            {% for address in current_user.addresses %}
                <div class="card m-1 border-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ address.firstname }} {{ address.lastname }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ address.phone }}
                            <br>{{ address.street1 }} {{ address.street2 }} 
                            <br>{{ address.city }}, {{ address.state }} {{ address.zip }}</h6>
                        
                        <div class="d-flex flex-md-row flex-sm-row justify-content-evenly">
                            <a href="{{ url_for('contact_edit', address_id=address.id) }}" class="btn btn-success btn-sm w-20">Edit</a>
                            <button type="button" class="btn btn-danger btn-sm w-20" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                        </div>
                        
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete {{ address.firstname }} {{ address.lastname }}? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="{{ url_for('delete_contact', address_id=address.id) }}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>        
</div>

{% endblock content %}